target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.nextSnapshot
release.properties
dependency-reduced-pom.xml
build.log
.git/
.gitignore
.vscode/
.cursor/
.agent/
openspec/
HELP.md
project.md
README.md
mvnw
mvnw.cmd
.mvn/
